page-login {
	.bg-image{
	background-image: url(../assests/img/success.jpg);
   background-position: center;
    background-repeat: no-repeat;
    



    background-size: contain;
}
.no-scroll .scroll-content{
	overflow: hidden;


}
}
